<div class="uk-secton" id="sobre-onda-branca" style="background-image: url('/imagens/background/noise-dark.svg');background-size: cover ; background-position: center; background-repeat: no-repeat;">
  <div class="onda-branca-animada">
  <div class="onda-loop">

    <!-- FAIXA 1 -->
    <div class="faixa">
      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>

      <span class="espaco"></span>

      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>
    </div>

    <!-- FAIXA 2 (DUPLICAÇÃO PARA ROLAR SEM PARAR) -->
    <div class="faixa">
      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>

      <span class="espaco"></span>

      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>
    </div>

  </div>
</div>

  </div>
  <div class="uk-container uk-padding" style="background-image: url('imagens/background/grid.svg');background-size: auto ; background-position: center; background-repeat: repeat;">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
      <div class="uk-text-right img" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
        <img width="100%" data-src="imagens/home/sobre-onda-branca.png" uk-img alt="Imagem de sobre a comunidade onda branca">
      </div>
      <div>
        <div class="uk-card  uk-card-default" style="background-color: transparent; border: none; box-shadow: none; padding-top: 40px ;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'sora'; font-size: 1.5rem;" >
                <span class="titulo-principal">Iniciativa da GestDreams <span class="linha"></span></span>
                <span class="uk-text-light"> Movida pelo propósito de colocar<span class="destaque" style="font-size: 2rem, ; font-weight: bold; color: #8f51c9;"> a saúde mental e a produtividade</span> no centro da vida moderna</span>
          </h2>
          <p style="font-size: 1.2rem;">Mais do que uma iniciativa, somos uma comunidade que acredita no crescimento integral das pessoas e no poder coletivo de gerar mudança. O nosso compromisso é ser motor de <strong>equilíbrio, resiliência e prosperidade sustentável</strong>, para Angola e para toda a África.</p>
          <p style="font-size: 1.2rem;">Acreditamos que a verdadeira inovação surge quando o cuidado com a mente se encontra com o <strong>valor humano</strong> e se transforma em <strong>impacto social positivo.</strong></p>
          <a [routerLink]="['/contacto']" class="uk-button uk-button-default btn-gradient-animated" style="color: #fff; border-radius: 5px; font-size: 1.2rem;">Comece agora <span uk-icon="icon: arrow-right"></span></a>
        </div>
      </div>
    </div>
  </div>
