<div class="uk-section " style="background-color: #fff;">
    <div class="uk-container">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'sora';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 00">
            <span class="titulo-principal">Instituições e empresas <span class="linha"></span></span>
            <span class="uk-text-light"><span class="destaque" style="font-size: 35px; font-weight: bold;"> Empresas e instituições, <span class="uk-text-primary">que confiam no nossos trabalho</span></span></span>
        </h2>
        
        <div class="uk-hidden@s" uk-slider="autoplay:true">
            <div class="uk-slider-container">
                <div class="uk-slider-items uk-align-center uk-text-center uk-child-width-1-2">
                <div>
                    <img data-src="imagens/logos/imagem-2.svg" uk-img alt="Logo da empresa Griner">
                </div>
                <div>
                    <img data-src="imagens/logos/imagem-4.svg" uk-img alt="Logo da empresa Itm">
                </div>
                <div>
                    <img data-src="imagens/logos/imagem-7.svg" uk-img alt="Logo da empresa Global Seguros">
                </div>
                <div>
                    <img data-src="imagens/logos/imagem-3.svg" uk-img alt="Logo da empresa INEMA">
                </div>
                <div>
                    <img data-src="imagens/logos/imagem-6.svg" uk-img alt="Logo da empresa Etus Energia">
                </div>
                <div>
                    <img data-src="imagens/logos/imagem-1.svg" uk-img alt="Logo da empresa Radio solidaria">
                </div>
            </div>
            </div>
            
        </div>
        
        <div class="uk-visible@s uk-child-width-1-6@l uk-child-width-1-4@s uk-child-width-1-4@m uk-grid">
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 100">
            <img data-src="imagens/logos/imagem-2.svg" uk-img alt="Logo da empresa Griner">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 400">
            <img data-src="imagens/logos/imagem-4.svg" uk-img alt="Logo da empresa Itm">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 500">
            <img data-src="imagens/logos/imagem-7.svg" uk-img alt="Logo da empresa Global Seguros">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 300">
            <img data-src="imagens/logos/imagem-3.svg" uk-img alt="Logo da empresa INEMA">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 600">
            <img data-src="imagens/logos/imagem-6.svg" uk-img alt="Logo da empresa Etus Energia">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 700">
            <img data-src="imagens/logos/imagem-1.svg" uk-img alt="Logo da empresa Radio solidaria">
        </div>
    </div>
    </div>
</div>